<div class="row">
<div class="col-md-4">
<h3><%= @user.phone %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_path(@user), :class => 'btn btn-default btn-xs' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              user_path(@user),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger btn-xs' %></h3>
              
<p><strong>Active User: </strong><%= @user.active %></p>
<p><strong>Language: </strong><%= @user.language %></p>
<p><strong>Next Message:</strong><%= @user.next_message %></p>
<p><strong>PACE Score: </strong><%= @user.score %></p>
<p><strong>Message Group: </strong><%= @user.get_group %></p>
</div>

<div class="col-md-8">
<h3> Message History </h3>
<table class="table table-condensed usertable">
    <thead>
      <tr>
        <th>Message</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
    <% @histories.each do |history| %>
      <tr class = "info">
        <td><%= history.message %> </td>
        <td><%= ((history.created_at).localtime).strftime("%I:%M%p on  %b. %d, %Y") %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
</div>

<script>
  $('.usertable').DataTable({
    "sDom": '<"top">rt<"bottom"flp><"clear">',
    "bFilter": false,
    "bLengthChange": false,
    "bSort": false,
    "paging": true
  });
</script>