<%= form_for(@spanish_message) do |f| %>
  <% if @spanish_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spanish_message.errors.count, "error") %> prohibited this spanish_message from being saved:</h2>

      <ul>
      <% @spanish_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :text, :class => "form-control" %>

  <br>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
