<p id="notice"><%= notice %></p>

<h1>Listing C Messages</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @c_messages.each do |c_message| %>
      <tr>
        <td><%= c_message.text %></td>
        <td><%= link_to 'Show', c_message %></td>
        <td><%= link_to 'Edit', edit_c_message_path(c_message) %></td>
        <td><%= link_to 'Destroy', c_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New C message', new_c_message_path %>
